<!--

Dokumentenname      Datenschutzview datenschutz.html
Erstellt am:        09.11.2016
Erstellt durch:     iselr1
Verson Nr.:         1.0

Funktion: Hinterlegung der Datenschutzerklärung
-->
<ion-view view-title="{{'DATAPROTECTION' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="HOME">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>
<div class="card">
    <div class="item item-text-wrap">
    <h3 translate="DISCLAIMER_HEADER"> </h3>
    <p translate="DICLAIMER_BODY">
  </p>
  </div>
</div>
  <div class="card">
    <div class="item item-text-wrap">
      <h3 translate="DISCLAIMER_LINKS_HEADER"> </h3>
      <p translate="DISCLAMER_LINKS_BODY">
    </p>
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
    <h3 translate="COPY_RIGHT_HEADER"> </h3>
    <p translate="COPY_RIGHT_BODY">
  </p>
</div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <h3 translate="PRIVACY_HEADER"> </h3>
    <p translate="PRVACY_BODY">
  </p>
</div>
</div>
  </ion-content>
</ion-view>
