<!--

Documentname      Einstellungsview einstellungen.html
Created:          09.11.2016
Created by:       iselr1
Version Nr.:      1.0

Function: Possiblity to alter diffrent settings like, the reminder sound and the app language
-->
<ion-view view-title="{{'SETTINGS' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="HOME">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>
    <!-- Alter the sound of the reminder -->
    <label class="item item-input item-select">
        <div class="input-label">
            <h2 translate="REMINDER_SOUND"></h2>
        </div>
        <select ng-model="soundSelected"
    ng-options="sound.id as sound.name for sound in soundList" ng-change="onchangeSound(soundList[soundSelected-1])">
    </select>
    </label>

    <!-- Alter the language of the app -->
    <label class="item item-input item-select">
        <div class="input-label">
            <h2 translate="LANGUAGE"></h2>
        </div>
        <select ng-model="languageSelected"
    ng-options="language.id as language.name for language in languageList" ng-change="onchangeLanguage(languageList[languageSelected-1])">
    </select>
    </label>
  </ion-content>
</ion-view>
