//Author: Tim
<ion-view view-title="{{'EXPORT' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="HOME">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>


      <label class="item item-input item-select">
        <div class="input-label">
            <h2 translate="EXPORTINFO"></h2>
        </div>
        <select>
          <option selected>{{'APPOINTMENTS' | translate}}</option>
          <option> {{'CONTACTS' | translate}}</option>
          <option> {{'VITALSIGN' | translate}}</option>
        </select>
        </div>
      </label>
    </div>

    <label class="item item-input item-select">
      <div class="input-label">
          <h2 translate="Exportformat"></h2>
      </div>
      <select>
          <option selected>{{'PDF' | translate}}</option>
          <option> {{'MAIL' | translate}}</option>
          <option> {{'PRINT' | translate}}</option>
        </select>
        </div>
      </label>
      </div>

      <a href="#" class="item item-icon-left">
          <h2 translate="GO"></h2>
      </a>

  </ion-content>
</ion-view>
