/*
Dokumentenname      controller.js
Erstellt am:        12.11.2016
Erstellt durch:     dornt1
Verson Nr.:         1.0

Funktion: stellt die View für den Export dar
*/
<ion-view view-title="{{'EXPORT' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="HOME">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>

<!--Dropown für die Auswahlh der Exportinformationen-->
      <label class="item item-input item-select">
        <div class="input-label">
            <h2 translate="EXPORTINFO"></h2>
        </div>
        <select>
          <option selected>{{'APPOINTMENTS' | translate}}</option>
          <option> {{'CONTACTS' | translate}}</option>
          <option> {{'VITALSIGN' | translate}}</option>
        </select>
        </div>
      </label>
    </div>
<!--Dropown für die Auswahlh des Exportformats-->
    <label class="item item-input item-select">
      <div class="input-label">
          <h2 translate="Exportformat"></h2>
      </div>
      <select>
          <option selected>{{'PDF' | translate}}</option>
          <option> {{'MAIL' | translate}}</option>
          <option> {{'PRINT' | translate}}</option>
        </select>
        </div>
      </label>
      </div>
<!--Button zur bestätigung des Exports-->

      <div class="row">
          <div class="col">
            <center><button class="button button-calm"  translate="GO"/></center>
          </div>
      </div>

  </ion-content>
</ion-view>
