<!--

Dokumentenname      Impressumview impressum.html
Erstellt am:        09.11.2016
Erstellt durch:     iselr1
Verson Nr.:         1.0

Funktion: Anzeigen des Impressums mit Angaben zu den Entwicklern und Initianten des Projekts
-->
<ion-view view-title="{{'IMPRESSUM' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="HOME">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>
  </ion-content>
</ion-view>
