//Author: Mauro
<ion-view view-title="{{'INFOS' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="HOME">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>

<!------------------------------------
------------CONTENT START-------------
------------------------------------->

    <div class="list card">
        <div ng-repeat="info in myInfos" class="item item-icon-left" id="info{{$index}}">
              <h2 translate="{{info.h2}}"></h2>
              <div id="infoContent{[$index]}">
                  <p>{{info.content}}</p>
              </div>
        </div>
    </div>

<!------------------------------------
------------CONTENT END---------------
------------------------------------->
  </ion-content>
</ion-view>
