<!--

Dokumentenname      Körperview koerper.html
Erstellt am:        09.11.2016
Erstellt durch:     iselr1
Verson Nr.:         2.0

Funktion: Erfassung von Gewicht und Puls mit graphischer Darstellung.
-->
<ion-view view-title="{{'BODY' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="HOME"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row">
      <div class="col col-40">
        <label class="item item-input" style="border:none">
          <span class="input-label" translate="YOUR_WEIGHT_KG"></span>
        </div>
        <div class="col col-30">
          <input type="number" ng-model="Weight.value" placeholder="60" style="border:1px solid; max-width:100%; margin-top:10px"></input>
        </label>

      </div>
      <div class="col col-30">
        <button class="button button-small button-block button-balanced" ng-click="addWeight()" translate="{{'SAVE' | translate}}"></button>
      </div>
    </div>
    <div class="ct-chartLineWeight ct-perfect-fifth"></div>
    <div class="row">
      <div class="col col-45">
        <label class="item item-input" style="border:none">
          <span class="input-label" translate="YOUR_PULSE"></span>
        </div>
        <div class="col col-25">
          <input type="number" ng-model="Pulse.value" placeholder="60" style="border:1px solid; max-width:100%; margin-top:10px"></input>
        </label>
      </div>
      <div class="col col-30">
        <button class="button button-small button-block button-balanced" ng-click="addPulse()" translate="{{'SAVE' | translate}}"></button>
      </div>
    </div>
    <div class="row">
      <div class="ct-chartLinePulse ct-perfect-fifth"></div>
    </div>

  </ion-content>
</ion-view>
