<ion-view view-title="{{'BODY' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="HOME"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>
    <label class="item item-input">
      <span class="input-label" translate="YOUR_WEIGHT_KG"></span>
      <input type="tel" ng-model="inputs.city">
      <input class="button button-small" type="submit" ng-click="saveWeight(inputs)" value="{{'SAVE' | translate}}" />
    </label>
    <div class="ct-chartLineWeight ct-perfect-fourth"></div>
    <label class="item item-input">
      <span class="input-label" translate="YOUR_PULSE"></span>
      <input type="tel">
      <input class="button button-small" type="submit" ng-click="savePulse(inputs)" value="{{'SAVE' | translate}}" />
    </label>

    <div class="ct-chartLinePulse ct-perfect-fourth"></div>
  </ion-content>
</ion-view>
