<ion-view view-title="{{'KONTAKTE' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="HOME">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>

<div class="list">
  <!---------LIST ITEM START------------->
  <div class="card">
    <div class="item item-text-wrap">
      <div class="item item-button-right">
        <p>Hausarzt: Dr. Klaus Knöpfli<br />
          Strasse: Höhenweg 17<br />
          Ort: 2502 Biel<br />
          Telefon: 079 816 52 45<br />
          E-Mail: klaus.knoepfli@khw.ch
        </p>
        <button class="button button-positive">
          <i class="icon ion-ios-telephone"></i>
        </button>
      </div>
  </div>
</div>

  <!---------LIST ITEM END------------->
  <!---------LIST ITEM START------------->
  <div class="card">
    <div class="item item-text-wrap">
  <div class="item item-button-right">
    <p>Onkologie Sprechstunde: Dr. Walter Wenger<br />
      Strasse: Spitalgasse 14<br />
      Ort: 2502 Biel<br />
      Telefon: 079 816 52 25<br />
      E-Mail: walter.wenger@khw.ch
    </p>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>
</div>
</div>
  <!---------LIST ITEM END------------->
  <!---------LIST ITEM START------------->
  <div class="card">
    <div class="item item-text-wrap">
  <div class="item item-button-right">
    <p>Gastroentrologe: Dr. Peter Pfister<br />
      Strasse: Mattenweg 15<br />
      Ort: 2502 Biel<br />
      Telefon: 078 416 52 25<br />
      E-Mail: Peter.Pfister@klinikbiel.ch
    </p>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>
</div>
</div>
  <!---------LIST ITEM END------------->
</div>

  </ion-content>
</ion-view>
