<!--

Dokumentenname      Loginview login.html
Erstellt am:        09.11.2016
Erstellt durch:     iselr1
Verson Nr.:         1.0

Funktion: Formular zum einloggen mit dem MIDATA Account
-->
<ion-view view-title="{{'LOGIN' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="switchLanguage('en')" translate="LANG_EN"></button>
    <button class="button" ng-click="switchLanguage('de')" translate="LANG_DE"></button>
    <button class="button" ng-click="switchLanguage('fr')" translate="LANG_FR"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    // New icon: meles1
    <div class="row">
        <div class="col icons">
          <center><img src="img/sina.png"/></center>
        </div>
    </div>
    <i4mi-midata-login user="user" controller-name="I4MIMidataLoginController"></i4mi-midata-login>
    </ion-content>
  </ion-view>
