//Author: Rea
<ion-view view-title="{{'LOGIN' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="switchLanguage('en')" translate="LANG_EN"></button>
    <button class="button" ng-click="switchLanguage('de')" translate="LANG_DE"></button>
    <button class="button" ng-click="switchLanguage('fr')" translate="LANG_FR"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <img src="img/sina.jpg" class="center" height="30px">
    <i4mi-midata-login user="user" controller-name="I4MIMidataLoginController"></i4mi-midata-login>
    </ion-content>
  </ion-view>
