<!--
Dokumentenname      Operation Screen operation.html
Erstellt am:        16.11.2016
Erstellt durch:     meles1
Verson Nr.:         1.0

Funktion: Screen zum Operationsdatum und Kolonskopie
-->
<ion-view view-title="{{'OPERATION' | translate}}" cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
    <ion-content scroll="false">
    <div class="card">
    <div class="row">
      <div class="col">
        <!--Wurde die Koloskopie vollständig gemacht?-->
        <div class="toggle-wrapper">
        <span class="toggle-question" translate="KOLOSK"></span>
      </div>
        <ion-toggle class="meds-toggle"
                    toggle-class="toggle-calm"
                    ng-model="complete"
                    ng-checked="complete" ng-change="setComplete(complete)" ng-click="update()">
          <div class="toggle-text" translate="{{setComplete.text}}"></div>
        </ion-toggle>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <!--Operationsdatum-->
      <span class="toggle-question" translate="KOLOSK"></span>
      <div class="col" translate="DATEOP"></div>
    </div>
    <div class="row">
      <div class="col">
      <label class="item item-input">
        <!--Integration Plugin Datepicker-->
        <!--Source: http://market.ionic.io/plugins/ionicdatepicker-->
       <button class="button button-clear button-dark" ng-click="openDatePicker()">{{buttonOPText}}</button>
    </label>
  </div>
  </div>

    <div class="row">
        <div class="col">
          <!--Button Next-->
          <center><button class="button button-calm" ng-click="goHome()" translate="NEXT"/></center>
        </div>
    </div>
  </div>
  </ion-content>
</ion-view>
