<!--
Dokumentenname      Operation Screen operation.html
Erstellt am:        16.11.2016
Erstellt durch:     meles1
Verson Nr.:         1.0

Funktion: Screen zum Operationsdatum und Kolonskopie
-->
<ion-view view-title="{{'OPERATION' | translate}}" cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
    <ion-content scroll="false">
    <div class="card">
    <div class="row">
      <div class="col">

        <div class="toggle-wrapper">
        <span class="toggle-question" translate="KOLOSK"></span>
      </div>
        <ion-toggle class="meds-toggle"
                    toggle-class="toggle-calm"
                    ng-model="complete"
                    ng-checked="complete" ng-change="setComplete(complete)" ng-click="update()">
          <div class="toggle-text" translate="{{setComplete.text}}"></div>
        </ion-toggle>
        <!--
          <label class="item item-input" translate="KOLOSK">
          </label>
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="colosc" name="colosc" value="yes"> <label for="y" translate="YES"></label>
          <br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="colosc" name="colosc" value="no"> <label for="n" translate="NO"></label>
          <br><br>
          -->
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col" translate="DATEOP"></div>
    </div>
    <div class="row">
      <div class="col">
      <label class="item item-input">

       <button class="button button-clear button-dark" ng-click="openDatePicker()">{{buttonOPText}}</button>
       <!--<input type="date" id="opdate" placeholder="dd.mm.yyyy" ng-click="openDatePicker()">-->
    </label>
  </div>
  </div>

    <div class="row">
        <div class="col">
          <center><button class="button button-calm" ng-click="goHome()" translate="NEXT"/></center>
        </div>
    </div>
  </div>
  </ion-content>
</ion-view>
