<!--
Dokumentenname      Operation Screen operation.html
Erstellt am:        16.11.2016
Erstellt durch:     meles1
Verson Nr.:         1.0

Funktion: Screen zum Operationsdatum und Kolonskopie
-->
<ion-view view-title="{{'OPERATION' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row item-input">
      <div class="col">
          <label class="item item-input" translate="KOLOSK">
          </label>
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="y" name="kolosk" value="yes"> <label for="y" translate="YES"></label>
          <br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="n" name="kolosk" value="no"> <label for="n" translate="NO"></label>
          <br><br>
      </div>
    </div>

    <label class="item item-input">
       <span class="input-label" translate="DATEOP"></span>
       <button class="button button-clear button-dark" ng-click="openDatePicker()">{{buttonOPText}}</button>
       <!--<input type="date" id="opdate" placeholder="dd.mm.yyyy" ng-click="openDatePicker()">-->
    </label>

    <div class="row">
        <div class="col">
          <center><button class="button button-calm" ng-click="goHome()" translate="NEXT"/></center>
        </div>
    </div>
  </ion-content>
</ion-view>
