//Author: Tim
<ion-view view-title="{{'APPOINTMENTS' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="HOME">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">

  <!-- Vergangene Termine-->
    <a  class="item item-icon-left">
      <h2 translate="TERMINATED"></h2>
    </a>
      <!-- Vergangene Termine in liste -->
    <a href="#" class="item item-icon-left">
          <h2 >
            15.03.2016 Operation
          </h2>
    </a>
    <a href="#" class="item item-icon-left">
          <h2 >
            17.06.2016 Erste Nachuntersuchung
          </h2>
    </a>
  <!-- Termine Heute-->
    <a  class="item item-icon-left">
      <h2 translate="TODAY"></h2>
    </a>
    <!-- Heutiger Termin falls vorhanden-->
    <a href="#" class="item item-icon-left">
          <h2 >
            Keine Termin
          </h2>
    </a>

    <!-- Zükunftige Termine -->
    <a  class="item item-icon-left">
      <h2 translate="FUTRE"></h2>
    </a>
      <!-- Zükunftige Termine in liste -->
    <a href="#" class="item item-icon-left">
          <h2 >
            Nachsorgeuntersuchung 2
          </h2>
    </a>
    <a href="#" class="item item-icon-left">
          <h2 >
            Nachsorgeuntersuchung 3
          </h2>
    </a>
  </div>
  </ion-content>
</ion-view>
