<!--

Dokumentenname      Terminview termine.html
Erstellt am:        09.11.2016
Erstellt durch:     dornt1
Verson Nr.:         1.0

Funktion: Stellt die Terminiübersicht für die Nachsorgeuntersuchung in einer Timeline dar.
-->
<ion-view view-title="{{'APPOINTMENTS' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="HOME">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>


 <div class="list card" ng-repeat="history in myAppointments">
  <div class="history item " ng-click="closeContent({{$index}})">
    {{history.state}}
  </div>
  <div class="content{{$index}}">
  <div ng-repeat="year in history.years">
    <div class="year ">
      {{year.number}}
    </div>
    <div class="item-text-wrap row" ng-repeat="appointment in year.appointments">
      <div class="appointment row">
        <div class="month col col-15"> {{appointment.month}}</div>
        <div class="col col-85">  {{appointment.description}}</div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


  </ion-content>
</ion-view>
