<!--
Dokumentenname      TNM Staging tnm.html
Erstellt am:        16.11.2016
Erstellt durch:     meles1
Verson Nr.:         1.0

Funktion: Screen zum TNM Staging und Krebsart-Wahl
-->
<ion-view view-title="{{'TNM' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-content>
    <label class="item item-input item-select">
        <div class="input-label">
            <h2 translate="CANCER"></h2>
        </div>
        <select>
            <option selected>{{'KOKA' | translate}}</option>
            <option> {{'REKA' | translate}}</option>
        </select>
    </label>

    <div class="row item-input">
      <div class="col">
          <label class="item item-input" translate="TNMSTAG">
          </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <proton:multi-list-picker>
            <proton:multi-list-picker-list>
              <proton:multi-list-picker-list-item>T0</proton:multi-list-picker-list-item>
              <proton:multi-list-picker-list-item>T1</proton:multi-list-picker-list-item>
              <proton:multi-list-picker-list-item>T2</proton:multi-list-picker-list-item>
              <proton:multi-list-picker-list-item>T3</proton:multi-list-picker-list-item>
              <proton:multi-list-picker-list-item>T4</proton:multi-list-picker-list-item>
            </proton:multi-list-picker-list>
            <proton:multi-list-picker-list>
              <proton:multi-list-picker-list-item>N0</proton:multi-list-picker-list-item>
              <proton:multi-list-picker-list-item>N1</proton:multi-list-picker-list-item>
              <proton:multi-list-picker-list-item>N2</proton:multi-list-picker-list-item>
              <proton:multi-list-picker-list-item>N3</proton:multi-list-picker-list-item>
            </proton:multi-list-picker-list>
            <proton:multi-list-picker-list>
              <proton:multi-list-picker-list-item>M0</proton:multi-list-picker-list-item>
              <proton:multi-list-picker-list-item>M1</proton:multi-list-picker-list-item>
            </proton:multi-list-picker-list>
          </proton:multi-list-picker>
     </div>
    </div>

  <!--  <div class="row">
      <div class="col">
      <label class="item item-input">
        <div class="input-label">
            <h2 translate="TNMSTAG"></h2>
        </div>
      </div>

        <div class="col">

        </div>
    </label>-->
    <!--<label class="item item-input">
      <span class="input-label" translate="TNMSTAG"></span>
      <input type="date">
    </label>-->
    <div class="row">
        <div class="col">
          <center><button class="button button-calm" ng-click="goOP()" translate="NEXT"/></center>
        </div>
    </div>
  </ion-content>
</ion-view>
