<!--

Dokumentenname      Überview ueber.html
Erstellt am:        09.11.2016
Erstellt durch:     iselr1
Verson Nr.:         1.0

Funktion: Linkseite zu den Einstellungen, Datenschutzerklärung und dem Impressum
-->
<ion-view view-title="{{'ABOUT' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="doLogout()" translate="LOGOUT"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()" translate="HOME">
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <div class="row row-33">
      <div class="col col-offset-15 col-70 icons" ng-click="goSettings()">
        <center><img src="img/icons/settings.png" width="40%"/>
          <div class="linkText" translate="SETTINGS"></div>
        </center>
      </div>
      <div class="col-15"></div>
    </div>
    <div class="row row-33">
      <div class="col col-offset-15 col-70 icons" ng-click="goDataprotection()">
        <center><img src="img/icons/heart.png" width="40%"/>
          <div class="linkText" translate="DATAPROTECTION"></div>
        </center>
      </div>
      <div class="col-15"></div>
    </div>
    <div class="row row-33">
      <div class="col col-offset-15 col-70 icons" ng-click="goImpressum()">
        <center><img src="img/icons/info.png" width="40%"/>
          <div class="linkText" translate="IMPRESSUM"></div>
        </center>
      </div>
      <div class="col-15"></div>
    </div>
  </ion-content>
</ion-view>
