body {
  /*basic styling */
  height: 100%;
}


/**Link Texte auf den Navigationsseiten*/

.linkText {
  font-size: 130% !important;
}

.scroll-content {
  background-color: #d3fffa;
}

.row {
  background-color: #FFF;
}

.ct-chartLineWeight {
  background-color: #FFF;
}

.hidden {
  display: none;
}

.contactButtons button {
  margin-top: 5px;
  width: 30px;
}

.contactButtons i {
  font-size: 150%;
}

.history {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  background-color: #2ECCFA;
  color: #FFF;
}

.year {
  font-size: 130%;
  text-align: center;
  background-color: #CEECF5;
  font-weight: bolder;
  color: #0B3861;
  padding: 5px 0 5px 0;
}

.appointment {
  color: #0B4C5F;
  font-size: 100%;
}

.month {
  font-size: 90%;
  font-weight: bold;
  vertical-align: middle;
}

textarea {
  height: 100px;
}

.detailButton {
  background-color: #C3fffa;
  font-weight: bold;
  text-align: center;
  float: right;
  border: 1px solid rgba(33, 68, 72, 0.59);
}

.homeButtons {
  border: 8px solid #d3fffa;
  background-color: #FFF;
  display: flex;
  justify-content: center;
}
.responsiveImg{
    width: 90%;
    height: auto;
}

.centerContent {
  align-self: center;
}

.homeBox {
  background-color: #d3fffa;
}
